{% extends 'app/base.html' %}
{% block content %}

  <div class="row">
    <div class="col-md-7 header">
      <h1>{{tournament.name}} | Group Stage</h1>
    </div>

    <div class="col-md-5 image-section">
        {% if tournament.logo %}
          <img class="tournament-logo float-right" src="{{ tournament.logo.url }}">
        {% endif %}

        {% if tournament.extra_image %}
          <img class=" tournament-logo float-right" src="{{ tournament.extra_image.url }}">
        {% endif %}
    </div>
  </div>



    {% for group in groups %}
    <!-- Display each group and the matches -->
    <div class="row">
      <div class="col-md-6 group-box">
        <h3>{{group.name}}</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Ranking</th>
              <th scope="col">Name</th>
              <th scope="col">Games Played</th>
              <th scope="col">W</th>
              <th scope="col">D</th>
              <th scope="col">L</th>
              <th scope="col">GF</th>
              <th scope="col">GA</th>
              <th scope="col">GD</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
          {% for position, team in group.sorted_teams %}
            <tr>
              <td>{{position}}</td>
              <td>{{team.name}}</td>
              <td>{{team.games_played}}</td>
              <td>{{team.wins}}</td>
              <td>{{team.draws}}</td>
              <td>{{team.losses}}</td>
              <td>{{team.goals_for}}</td>
              <td>{{team.goals_against}}</td>
              <td>{{team.goal_difference}}</td>
              <td class="bold-text">{{team.points}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-6 group-box">
        <h3>Matches</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Home</th>
              <th scope="col"></th>
              <th scope="col">Away</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">Pitch</th>
              <th scope="col">Time</th>

            </tr>
          </thead>
          <tbody>
          {% for match in group.matches.all %}
            <tr>
              {% if match.is_placeholder %}
              <td>{{match.home_team_placeholder}}</td>
              <td>vs</td>
              <td>{{match.away_team_placeholder}}</td>
              {% else %}
              <td>{{match.home_team.name}}</td>
              <td>vs</td>
              <td>{{match.away_team.name}}</td>
              {% endif %}

              <td {% if match.is_home_win %} class="bold-text" {% endif %}>{{match.home_goals}}</td>
              <td>:</td>
              <td {% if match.is_away_win %} class="bold-text" {% endif %}>{{match.away_goals}}</td>
              <td>{{match.pitch}}</td>
              <td>{{match.time}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% endfor %}
{% endblock %}