{% extends 'app/base.html' %}
{% block content %}

  <div class="row">
    <div class="col-md-6 header">
      <h1>Knockout Stage</h1>
    </div>

    <div class="col-md-6 image-section">
        {% if tournament.logo %}
          <img class="tournament-logo float-right" src="{{ tournament.logo.url }}">
        {% endif %}

        {% if tournament.extra_image %}
          <img class="tournament-logo rounded-circle float-right" src="{{ tournament.extra_image.url }}">
        {% endif %}
      </div>
  </div>



  <div class="row">
    {% for knockout in knockouts %}
    <!-- Display each group and the matches -->

    <div class="col-md-6 group-section">
      <h2>{{knockout.name}}</h2>
      <table class="table">
        <thead>
        <tr>

          <th scope="col">Game Number</th>
          <th scope="col">Home</th>
          <th scope="col"></th>
          <th scope="col">Away</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Pitch</th>
          <th scope="col">Time</th>

        </tr>
        </thead>
        <tbody>
        {% for game_number, match in knockout.enumerated_matches%}
        <tr>
          <td>{{ game_number }} </td>
          {% if match.is_placeholder %}
          <td>{{match.home_team_placeholder}}</td>
          <td>vs</td>
          <td>{{match.away_team_placeholder}}</td>
          {% else %}
          <td>{{match.home_team.name}}</td>
          <td>vs</td>
          <td>{{match.away_team.name}}</td>
          {% endif %}

          {% if match.is_placeholder %}
          <td>-</td>
          <td>:</td>
          <td>-</td>
          {% else %}
          <td {% if match.is_home_win %} class="bold-text" {% endif %}>{{match.home_goals}}</td>
          <td>:</td>
          <td {% if match.is_away_win %} class="bold-text" {% endif %}>{{match.away_goals}}</td>
          {% endif %}

          <td>{{match.pitch}}</td>
          <td>{{match.time}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <hr/>

    </div>
    {% endfor %}
{% endblock %}